---
const title = 'My Astro Site';

import 'bootstrap/dist/css/bootstrap.css';

import {sanityClient} from '../lib/sanityClient';

const movies = await sanityClient.fetch('*[_type == "movie"] {title, slug, image}');
---
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
    <div class="container">
        <h1>{title}</h1>

        <ul>
            {movies.map(movie => (
                <li><a href={`/movie/${movie.slug.current}`}>{movie.title}</a></li>
            ))}
        </ul>
    </div>
</body>

</html>
