---
import 'bootstrap/dist/css/bootstrap.css';

import {sanityClient, buildImage} from '../../lib/sanityClient';

export async function getStaticPaths() {
    const movies = await sanityClient.fetch('*[_type == "movie"] {..., "cast": castMembers[]{..., "name": person->name}, "crew": crewMembers[]{..., "name": person->name}}');

    return movies.map(movie => ({
        params: {
            slug: movie.slug.current
        },
        props: {
            movie
        }
    }));
}

const {movie} = Astro.props;
const image = buildImage(movie.poster);
---
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{movie.title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
    <div class="container">
        <h1>{movie.title}</h1>

        <p><img src={image.width(400).height(100).url()} alt={movie.title} /></p>

        <h2>Cast</h2>
        <ul>
            {movie.cast.map(cast => (
                <li>{cast.name} als {cast.characterName}</li>
            ))}
        </ul>

        <h2>Crew</h2>
        <ul>
            {movie.crew.map(crew => (
                <li>{crew.name} als {crew.position} in der Abteilung {crew.department}</li>
            ))}
        </ul>
    </div>
</body>

</html>
